spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        calculations_channel:
          name: calculations_channel



server:
  port: 8081

scheduling:
  cron: "0 0 12 * * *"

spelling:
  key: c2b61bcbe1msh7baed25073c44a3p111bcfjsn7841c9808baa
  endpoint: https://jspell-checker.p.rapidapi.com/check
  content: application/json
  host: jspell-checker.p.rapidapi.com

logging:
  level:
    root: info


user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080
